---
title: Barcelona on Rails
---

Next Event:

= last_event.name
= last_event.description

Speaker:

- speaker = last_event.speaker

= speaker.name
= speaker.photo_url
= speaker.twitter
= speaker.github
